@page "/"
@using Microsoft.Fast.Components.FluentUI
@using Marimo.WindowsCalculator.Models
@using Marimo.WindowsCalculator.ViewModels
@inject CalculatorViewModel ViewModel

<FluentBodyContent class="body-content">
    <div class="layout-root">
        <header class="content-header">
            <div class="icons">
                <a href="/settings"><FluentIcon class="icon settings-icon" Value="@(new Icons.Regular.Size24.Settings())" /></a>
                <a href="/history"><FluentIcon class="icon history-icon" Value="@(new Icons.Regular.Size48.History())" /></a>
            </div>
            <div class="expression">@ViewModel.Expression</div>
        </header>
        <main class="content-body">

            <div class="calculation-result">
                @ViewModel.DisplaiedNumber
            </div>
            <div class="keys">
                  <FluentButton class="fluent-button font-small" @onclick="ViewModel.InputCECommand.Execute">@ViewModel.Settings.CEDisplayText</FluentButton>
                 <FluentButton class="fluent-button font-small" @onclick="ViewModel.InputCCommand.Execute">@ViewModel.Settings.CDisplayText</FluentButton>
                <FluentButton class="fluent-button font-small" @onclick="ViewModel.InputBackspaceCommand.Execute">@ViewModel.Settings.BackspaceDisplayText</FluentButton>
                <FluentButton class="fluent-button font-large" @onclick="ViewModel.InputDivideCommand.Execute">@ViewModel.Settings.DivideDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputSevenCommand.Execute">@ViewModel.Settings.SevenDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputEightCommand.Execute">@ViewModel.Settings.EightDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputNineCommand.Execute">@ViewModel.Settings.NineDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputMultiplyCommand.Execute">@ViewModel.Settings.MultiplyDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputFourCommand.Execute">@ViewModel.Settings.FourDisplayText</FluentButton>
                 <FluentButton class="fluent-button" @onclick="ViewModel.InputFiveCommand.Execute">@ViewModel.Settings.FiveDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputSixCommand.Execute">@ViewModel.Settings.SixDisplayText</FluentButton>
                <FluentButton class="fluent-button font-large" @onclick="ViewModel.InputSubstractCommand.Execute">@ViewModel.Settings.SubstractDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputOneCommand.Execute">@ViewModel.Settings.OneDisplayText</FluentButton>
                 <FluentButton class="fluent-button" @onclick="ViewModel.InputTwoCommand.Execute">@ViewModel.Settings.TwoDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputThreeCommand.Execute">@ViewModel.Settings.ThreeDisplayText</FluentButton>
                <FluentButton class="fluent-button font-large" @onclick="ViewModel.InputAddCommand.Execute">@ViewModel.Settings.AddDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputUndoCommand.Execute">@ViewModel.Settings.UndoDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputDotCommand.Execute">@ViewModel.Settings.DotDisplayText</FluentButton>
                <FluentButton class="fluent-button" @onclick="ViewModel.InputZeroCommand.Execute">@ViewModel.Settings.ZeroDisplayText</FluentButton>
                <FluentButton class="fluent-button font-large blue" @onclick="ViewModel.InputEqualCommand.Execute">@ViewModel.Settings.EqualDisplayText</FluentButton>
            </div>
        </main>
    </div>
</FluentBodyContent>
<style>
    body {
        overflow: hidden;
    }

    .layout-root {
        display: grid;
        grid-template-rows: auto 1fr;
        width: 100vw;
        height: 100vw;
        background:#EEF7EBFF;
    }

    .content-header {
        
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .calculation-result {
        border: 2px solid black;
        border-radius: 5px;
    }

    .icon {
        transform-origin: center;
    }


    .settings-icon {
        margin: 0 12px;
    }

    .history-icon {
        margin: 0 9px;
        transform: scale(0.5);
    }

    .expression {
        text-align: right;
        font-size: 14px;
        margin: 1px 28px;
    }

    .content-body {
        display: grid;
        grid-template-rows: 3fr 10fr;
        min-height: 0;
    }

    .calculation-result {
        display:grid;
        align-items: start;
        grid-column: 1 / -1;
        border: 2px solid black;
        border-radius: 5px;
        text-align: right;
        font-size: 44px;
        font-weight: 600;
        overflow: hidden;
    }

    .keys {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        margin:2px;
    }

    .fluent-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 18px;
        margin: 1px;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        
    }

    @@media (prefers-color-scheme: light) {
        .fluent-button {
            background-color: #ffffff;
            color: #000000;
            border-color: #d3d3d3;
        }

            .fluent-button:hover {
                background-color: #f0f0f0;
                border-color: #a9a9a9;
            }
    }

    @@media (prefers-color-scheme: dark) {
        .fluent-button {
            background-color: #333333;
            color: #ffffff;
            border-color: #555555;
        }

            .fluent-button:hover {
                background-color: #444444;
                border-color: #777777;
            }
    }

    .font-large {
        font-size:32px;    
    }

    .font-small {
        font-size:13px;
    }
    
    .blue{
        background: #1875C4;
        color:white;
    }


</style>
@code {

    /// <summary>
    /// Windowの幅を保管しておき、部品の外枠の大きさに使います。
    /// </summary>
    static double windowWidth;

    /// <summary>
    /// Windowの高さを保管しておき、部品の外枠の大きさに使います。
    /// </summary>
    static double windowHeight;

    /// <summary>
    /// 自画面を保管しておきます。
    /// </summary>
    private static Home? self;

    /// <summary>
    /// 初期化時に呼び出されます。。
    /// </summary>
    protected override void OnInitialized()
    {
        self = this;

        StaticClass.ViewModel = ViewModel;

        ViewModel.PropertyChanged += (sender, e) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }


    /// <summary>
    /// JavaScript空の呼び出しは静的にしか行えないのでそのためのクラスです。
    /// </summary>
    public static class StaticClass
    {
        /// <summary>
        /// ViewMoelをStaticで使えるように保管しておきます。
        /// </summary>
        public static CalculatorViewModel? ViewModel { get; set; }

        /// <summary>
        /// キーが押された時に呼び出されます。
        /// </summary>
        /// <param name="key">押されたキー。</param>
        /// <param name="ctrl">Ctrlキーが同時押しされているか。</param>
        [JSInvokable("HandleKeyDown")]
        public static void HandleKeyDown(string key, bool ctrl)
        {
            ViewModel?.InputKeybord?.Execute(
            (ctrl, key) switch
            {
                (false, "0") => InputAction.Zero,
                (false, "1") => InputAction.One,
                (false, "2") => InputAction.Two,
                (false, "3") => InputAction.Three,
                (false, "4") => InputAction.Four,
                (false, "5") => InputAction.Five,
                (false, "6") => InputAction.Six,
                (false, "7") => InputAction.Seven,
                (false, "8") => InputAction.Eight,
                (false, "9") => InputAction.Nine,
                (false, ".") => InputAction.Dot,
                (false, "+") => InputAction.Add,
                (false, "-") => InputAction.Substract,
                (false, "*") => InputAction.Multiply,
                (false, "/") => InputAction.Divide,
                (false, "Enter") or (false, "=") => InputAction.Equal,
                (false, "Escape") => InputAction.C,
                (false, "Delete") => InputAction.CE,
                (false, "Backspace") => InputAction.Backspace,
                (true, "z") => InputAction.Undo,
                (true, "y") => InputAction.Redo,
                _ => throw new NotSupportedException()
            });
        }
    }

}